<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title (click)="onlogin(username)">{{username}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides class="slides_box" (ionSlideDidChange)="slideChanged(index)" #mySlider loop=true speed=2000 zoom=true>
    <ion-slide *ngFor=" let slide of imgArray;let i=index">
       <img src="{{slide.img}}" style="height: 50vh;" />
      <!--<ion-grid>
        <ion-row>
          <ion-col col-12>
            <img src="{{slide.img}}" style="height: 50vh;" />
         </ion-col>
        </ion-row>
      </ion-grid>-->
    </ion-slide>
  </ion-slides>
  <ion-item-divider color="light"></ion-item-divider>
  <ion-grid>
    <ion-row>
      <ion-col col-3 *ngFor="let li of list;let i=index" (click)="jump(li.name)" text-center>
        <img src="{{li.img}}" alt="photo" style="width: 60px">
        <p style="margin: 0;" >{{li.name}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="divlist">
      <div class="divitem">1</div>
      <div class="divitem">2</div>
      <div class="divitem">3</div>
    </div> 

  <home-child [message]="msgToChild" (outer)="receive($event)"></home-child>
  <p>来自子组件的消息 {{msgFromChild}}</p>


</ion-content>
