<!--
  Generated template for the CurriculumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>课程表</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label color="primary" stacked>Stacked Label</ion-label>
    <ion-input type="month" placeholder="month Input" [(ngModel)]="monthData"
    (blur)="blurMonth()" (keyup)="onKeyMonth($event)"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>星期一</ion-col>
      <ion-col>星期二</ion-col>
      <ion-col>星期三</ion-col>
      <ion-col>星期四</ion-col>
      <ion-col>星期五</ion-col>
      <ion-col>星期六</ion-col>
      <ion-col>星期日</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row   *ngFor="let arrli of arr ;let i=index" align-items-center>
      <!--<ion-col style="height: 50px;" *ngFor="let li of arrli ;let i=index" (click)="onitem(li)" [class.special]="li===isSpecialN?isSpecial:!isSpecial" >{{li}}
      </ion-col>-->
      <ion-col style="height: 50px;line-height: 50px" text-center  *ngFor="let li of arrli ;let i=index" (click)="onitem(li)" [style.background-color]="li===isSpecialN?redcolor:'#fff'" >{{li}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <div> 您选择的日期是：{{monthData}}{{-isSpecialN}}</div>
  <button ion-button (click)="onsubmit()"> 确定</button>

</ion-content>